@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --social-pink: #ff1b6b;
  --grid-size: 60px;
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-400;
}

.text-stroke {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.text-stroke span {
  -webkit-text-stroke: 0;
}

@media (max-width: 768px) {
  .text-stroke {
    -webkit-text-stroke-width: 0.5px;
  }
}


/* Add this to your CSS file or inside a <style> tag */
@keyframes fadeInCenter {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-center {
  opacity: 0;
  animation: fadeInCenter 1s forwards;
}
/* Add this to your CSS file or inside a <style> tag */
.fade-in-center.active {
  opacity: 1;
  animation: fadeInCenter 1s forwards;
}

/* globals.css */
/* globals.css */
:root {
  --vh: 1vh; /* Default in case JavaScript fails */
  --vw: 1vw; /* Default for width */
}

.full-screen {
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
}
.hero2-container.no-scroll {
  overflow: hidden;
}
